
/12
/data01000
/data010001
/data02000
data02000.arc
data01000.arc
data03000.arc
data04000.arc
data05000.arc
/Movie
/outtttttttttttttt
/outtttt
YasuSakuuta.ttf
workbook.xml.rels
/UserData
uif_log.log
translation_note.pdf
system.arc
sysprg.arc
sysgrp.arc
Migu 1M Bold.ttf
config — копия.json
BGI.gdb
BGI.exe
suika.xlsx
arc_unpacker.exe
/patched
